.calculation-page {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
}

.calculation-form {
  flex: 1;
  width: 35%;
  border-radius: 30px;
  padding: 25px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-top: 0px;
}

.calculation-page-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 50%;
  margin-left: 90px;
}

.calculation-page-title {
  font-size: 70px;
  color: #2d2d2d;
  margin-bottom: 20px;
  margin-top: 0px;
}

.calculation-page-description {
  font-size: 40px;
  color: #424040;
  margin-top: 0px;
}

.calculation-page input {
  width: 100%;
  padding: 15px 18px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 35px;
  height: 66px;
  font-size: 20px;
  box-sizing: border-box;
  color: #2d2d2d;
}

.calculation-page label {
  font-size: 25px;
  color: #2d2d2d;
  margin-left: 10px;
}

.calculation-page button {
  margin-top: 0px;
  padding: 14px 25px;
  font-size: 30px;
  color: #2d2d2d;
  background-color: #f5f5f5a9;
  border: 2px solid #2d2d2d;
  border-radius: 35px;
  cursor: pointer;
  text-decoration: none;
  width: 60%;
}

.calculation-page button:hover {
  background-color: #e0e0e089;
}

.calculation-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#investment-type-list option {
  padding: 15px 18px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 35px;
  height: 66px;
  font-size: 30px;
  box-sizing: border-box;
  color: #2d2d2d;
  background-color: #ffffff;
}

.result-table {
  border-collapse: collapse;
  text-align: center;
  border: #2d2d2d69 2px solid;
  height: 320px;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 30px;
  width: 100%;
}

.table-container {
  align-items: center;
  justify-content: center;
  width: 35%;
  margin-top: 20px;
  margin-right: 140px;
}

.result-table-row {
  border: #2d2d2d69 2px solid;
  padding: 10px 15px;
}

.table-header {
  border: #2d2d2d69 2px solid;
  padding: 7px 10px;
}

.total-return,
.end-capital {
  font-size: 23px;
  color: #2d2d2d;
  margin: 0px;
  margin-top: 7px;
}

.calculation-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  min-height: 91vh;
  margin-top: 95px;
  width: 100%;
}

.investment-info {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: center;
  color: #575656ab;
  font-weight: lighter;
}
.investment-info p {
  margin: 0px;
}

.calculation-page {
  position: relative;
}

.overlay-form {
  position: absolute;
  z-index: 50;
  transition: transform 0.6s ease;
  background-color: #fdfdfd;
  right: 0;
  margin-right: 90px;
}

.overlay-form.shifted {
  transform: translate(-120%, 0);
  margin-right: 0px;
}
