.footer{
    background-color: #F5F5F5;
    border-top: 1px solid #E0E0E0;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin: 0;
}

.footer-text {
    text-align: center;
    color: #000000;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    padding: 0px 0;
    margin: 0;
}